@import "tailwindcss";
@import "tw-animate-css";
@import "./tokens.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* ================================
   Tailwind Theme Mapping
   ================================ */
@theme inline {
  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-terciary: var(--terciary);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Icon sizes */
  --size-icon-xs: var(--icon-xs);
  --size-icon-sm: var(--icon-sm);
  --size-icon-md: var(--icon-md);

  /* Icon colors */
  --color-icon-base: var(--icon-base);
  --color-icon-selected: var(--icon-selected);
  --color-button-primary: var(--color-secondary);
}

/* ================================
   Base styles
   ================================ */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground text-base font-sans;
  }
}
