/* ================================
   Design Tokens
   ================================ */

/* --------- Light theme --------- */
:root {
  /* Radius */
  --radius: 0.625rem;

  /* Backgrounds */
  --background: oklch(98.511% 0.00011 271.152);
  --foreground: oklch(0.145 0 0);

  --card: oklch(100% 0.00011 271.152);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  /* Brand */
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(42.061% 0.20681 262.757);
  --secondary-foreground: oklch(100% 0.00011 271.152);

  --terciary: oklch(73.44% 0.05092 265.906);

  /* Neutral */
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(39.793% 0.00005 271.152);

  /* Borders */
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  /* Icon sizes */
  --icon-xs: 0.75rem;
  --icon-sm: 1rem;
  --icon-md: 1.25rem;

    /* Icon colors */
  --icon-base: var(--muted-foreground);
  --icon-selected: var(--secondary);

  /* Button Primary (blue background, white text) */
  --button-primary: var(--secondary);
  --button-primary-foreground: oklch(1 0 0);
  --button-primary-border: var(--secondary);

  /* Button Secondary (white background, blue border, black text) */
  --button-secondary: var(--card);
  --button-secondary-foreground: var(--foreground);
  --button-secondary-border: var(--secondary);

  /* Button Icon */
  --button-icon-foreground: var(--secondary);

  /* Destructive / Error states */
  --destructive: oklch(62.793% 0.25768 29.223);
  --destructive-foreground: oklch(1 0 0);

  /* Success states */
  --success: oklch(59.6% 0.178 143.4);
  --success-foreground: oklch(1 0 0);
}
